/* debut du parametre generale */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
}
.conteneur {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
  
/* les peites appareils */
@media screen and (min-width: 768px) {
    .conteneur {
      width: 750px;
    }
  }
  
  /* les moyennes appareils */
  @media screen and (min-width: 992px) {
    .conteneur {
      width: 970px;
    }
  }
  
  /* les grandes appareils */
  @media screen and (min-width: 1200px) {
    .conteneur {
      width: 1170px;
    }
    }
  /* /* fin de parametre generale */

header{
  width: 100%;
  min-height: calc(100vh + 70.25px);
  background-image: url('../images/background/background1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.bgc-flew{
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
}
/* 1/ barre de navigation */
.nav-header{
  padding: 15px;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 5;
}
.nav-header .conteneur{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#check{
  display: none; 
}
.nav-header .conteneur h2{
  text-transform: uppercase;
  color: #fff;
  font-size: 35px;
  font-weight: 900;
}
.nav-header .conteneur ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-header .conteneur ul li{
  display: block;
  width: 100%;
  margin-left: 25px;
}
.nav-header .conteneur ul li a:link, ul li a:visited{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
}
.nav-header .conteneur ul li a::before{
  content: '';
  width: 0%;
  height: 2px;
  background-color: #6495ff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.nav-header .conteneur ul li a:hover::before{
  width: 100%;
}
.nav-header .conteneur ul li a.active::before{
  width: 100%;
}
.nav-header .conteneur label {
  display: none;
}
.nav-header .conteneur label .bars-menu i{
  color: #fff;
  font-size: 35px;
}
/* RESPONSIVE */
@media screen and (max-width: 991px) {
  .nav-header .conteneur ul li{
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .nav-header{
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .nav-header .conteneur ul{
    width: 50%;
    height: calc(100vh - 70.25px);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.97);
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 70.25px;
    left: -100%;
    transition: all 1s;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .nav-header .conteneur ul li{
    margin-left: 0;
  }
  .nav-header .conteneur ul li a{
    padding: 7px;
    display: inline-block;
    transition: all 0.5s;
  }
  .nav-header .conteneur ul li a::before{
    display: none;
  }
  .nav-header .conteneur ul li a.active{
    width: 50%;
    padding: 7px;
    background-color: #6495ff;
    border-radius: 30px;
    display: inline-block;
  }
  .nav-header .conteneur ul li a:hover, a:active{
    width: 50%;
    padding: 7px;
    background-color: #6495ff;
    border-radius: 30px;
    outline: none;
    display: inline-block;
  }
  .nav-header .conteneur label {
    display: block;
  }
}
/* HEADER-SECTION */
.sec-header {
  padding: 15px;
  width: 100%;
  height: calc(100vh + 70.25px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-header .conteneur {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-header .conteneur h1{
  text-transform: uppercase;
  font-size: 55px;
}
.sec-header .conteneur p{
  font-size: 18px;
}
.sec-header .conteneur .grp-btn{
  margin: 50px 0 0 0;
}
.sec-header .conteneur .grp-btn button{
  margin: 0 15px 0 0;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
} 
.sec-header .conteneur .grp-btn .btn-1{
  text-transform: capitalize;
  font-size: 17px;
  background-color: #fff;
}
.sec-header .conteneur .grp-btn .btn-2{
  text-transform: capitalize;
  font-size: 17px;
  background-color: #6495ff;
}

/* RESPONSIVE */
@media screen and (max-width: 575px) {
  .sec-header {
    padding: 0;
  }
  .sec-header .conteneur h1{
    font-size: 30px;
  }
  .sec-header .conteneur p{
    font-size: 17px;
    margin: 15px;
  }
  .sec-header .conteneur .grp-btn{ 
    margin: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec-header .conteneur .grp-btn .btn{
    font-size: 15px;
  }
  .sec-header .conteneur .grp-btn .btn-1{
    margin-right: 0;
  }
  .sec-header .conteneur .grp-btn .btn-2{
    margin-top: 10px;
  }
}


/* 3/ ABOUT */
.sec-2{
  padding: 15px;
  width: 100%;
}
.sec-2 h2{
  width: 100%;
  text-transform: uppercase;
  font-size: 34px;
  text-align: center;
  font-weight: 750;
  position: relative;
}
.sec-2 h2::before{
  content: '';
  width: 100px;
  height: 4px;
  background-color: #6495ff;
  position: absolute;
  bottom: -5px;
  left: 46%;
  text-align: center;
}
.sec-2 .row{
  margin: 35px 0;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sec-2 .row .col{
  text-align: center;
  border: 1px solid #808080;
  margin: 0 10px;
  padding: 5px;
  position: relative;
}
.sec-2 .row .col::before{
  content: '';
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left:0;
  transition: all 0.5s;
  z-index: -1;
}
.sec-2 .row .col:hover::before{
  width: 100%;
}
.sec-2 .row .col i{
  font-size: 25px;
  display: inline-block;
  margin: 10px 0;
  color: #6495ff;
}
.sec-2 .row .col h3{
  text-transform: uppercase;
  margin: 10px 0;
  transition: all 0.5s;
}
.sec-2 .row .col:hover h3{
  color: #fff;
}
.sec-2 .row .col p{
  text-transform: capitalize;
  line-height: 1.8;
  color: #808080;
}
.sec-2 .row .col a:link,.sec-2 .row .col a:visited{
  margin: 10px 0;
  display: inline-block;
  color: #6495ff;
  text-transform: capitalize;
  text-decoration: none;
}
.sec-2 .row .col a:hover, a:active{
  text-decoration-line: underline;
}
/* RESPONSIVE */
@media screen and (max-width: 991px) {
  .sec-2 .row .col h3{
    font-size: 16.5px;
  }
}
@media screen and (max-width: 767px) {
  .sec-2 .row{
    flex-direction: column;
  }
  .sec-2 .row .col{
    margin: 5px 0;
    
  }
  .sec-2 .row .col h3{
    font-size: 18px;
  }
  .sec-2 .row .col i{
    font-size: 30px;
  }
}
@media screen and (max-width: 575px){
  .sec-2 h2{
    font-size: 20px;
  }
  .sec-2 h2::before{
    display: none;
  }
  .sec-2 .row .col h3{
    font-size: 16.5px;
  }
}


/* PORTFOLOLIO */
.sec-3{
  width: 100%;
  padding: 15px;
}
.sec-3 h2{
  width: 100%;
  text-transform: uppercase;
  font-size: 34px;
  text-align: center;
  font-weight: 750;
  position: relative;
}
.sec-3 h2::before{
  content: '';
  width: 100px;
  height: 4px;
  background-color: #6495ff;
  position: absolute;
  bottom: -5px;
  left: 46%;
  text-align: center;
}
.sec-3 .row{
  margin: 35px 0;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sec-3 .row .col{
  width: 320px;
  height: 320px;
  margin: 0 10px;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sec-3 .row .col .info{
  background-color: rgba(0, 0, 0, 0.7);
  height: calc(100% + 50px);
  width: calc(100% + 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  left: -20px;
  cursor: pointer;
  display: none;
}
.sec-3 .row .col:hover .info{
  display: flex;
}
.sec-3 .row .col .info h5{
  color: #3374ff;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.sec-3 .row .col .info p{
  color: #fff;
  font-weight: 800;
  margin-bottom: 15px;
}
.sec-3 .row .col .info .font i{
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 15px;
  margin-left: 5px;
  background-color: #3374ff;
}
.sec-3 .row .col img{
  height: 300px;
  width: 300px;
}
/* RESPONSIVE */
@media screen and (max-width:1199px) {
  .sec-3 .row .col{
    width: 270px;
    height: 270px;
  }
  .sec-3 .row .col img{
    height: 250px;
    width: 250px;
  }
}
@media screen and (max-width:991px) {
  .sec-3 .row .col{
    height: 220px;
    width: 220px;
  }
  .sec-3 .row .col img{
    height: 200px;
    width: 200px;
  }
}
@media screen and (max-width:767px) {
  .sec-3 .row {
    flex-direction: column;
  }
  .sec-3 .row .col{
    height: 270px;
    width: 270px;
    margin: 20px 0;
  }
  .sec-3 .row .col img{
    height: 250px;
    width: 250px;
  }
}
@media screen and (max-width:575px) {
  .sec-3 h2{
    font-size: 20px;
  }
  .sec-3 h2::before{
    display: none;
  }
  .sec-3 .row .col{
    height: 240px;
    width: 240px;
    margin: 10px 0;
  }
  .sec-3 .row .col img{
    height: 220px;
    width: 220px;
  }
}

/* SERVICES */
.sec-4{
  width: 100%;
  height: 250px;
  background-image: url('/images/background/background3.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.sec-4 .bgc-flew2{
  width: 100%;
  min-height: 250px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.sec-4 .row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: #fff;
}
.sec-4 .row .col{
  padding: 15px;
}
.sec-4 .row .col i{
  font-size: 40px;
  color: #3374ff;
} 
.sec-4 .row .col p:nth-child(2){ 
  font-size: 35px;
  font-weight: bold;
  margin: 20px;
}
.sec-4 .row .col p:nth-child(3){ 
  text-transform: capitalize;
}
/* RESPONSIVE */
@media screen and (max-width:767px) {
  .sec-4{
    height: 1200px;
  }
  .sec-4 .bgc-flew2{
    height: 1200px;

  }
  .sec-4 .row{
    height: 100%;
    flex-direction: column;
  }
}
footer{
  padding: 15px;
  background-image: url('/images/background/background2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 50vh;
  width: 100%;
  position: relative;
}
footer .bgc-flew3{
  width: 100%;
  min-height: 50vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
footer h3{
  margin: 30px 0;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
footer .row{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
footer .row .col i{
  padding: 15px;
  color: #fff;
  border-radius: 25px;
  font-size: 25px;
  background-color: #3374ff;
  cursor: pointer;
  transition: all 0.5s;
}
footer .row .col i:hover{
  background-color: #000;
}
/* RESPONSIVE */
@media screen and (max-width:767px) {
  footer{
    min-height: 700px;
  }
  footer .bgc-flew3{
    min-height: 700px;
  }
  footer .row{
    flex-direction: column;
    height: 300px;
  }
}


